language: node_js
node_js:
- '6'
env:
  global:
  - CONFIG='./config/default.js'
  - PORT=17738
  - secure: xNwRMG7cCJ3aRtC6t4Xt2l2i9FR0cMrwxX9/sdoXjSs4f50g+sd0JzdHABt4vGzIyVu2oxQgOc9JO0i3GhG34g2/CaXIz6WoO5gdvnpuPc/dJ8cIuMErlQ8GMvqEJ4wiHCjkJKBMELJncMlkL9cZvSYvXljrFpYlOCm/IpjZJde6eplI9zjlBe5FQC/SGgQW+4MyUD5dGwfou5ECOhtRjSnwrbSCuOsQhcI0n7rgXJdCnwWXiFcOo7bITrusIO27iVZx5j4RIoIKIkjU99z4gaHddf8ai2h4gJaevkNNmzzNzLQZGOU3EdCcbSNCVRJdiapv2Z4bvdUZHiBsLOMI4dOHqSBwg7tqpAPiIbpGBKg/mfHIsxqENyTgs4hJbVHiqIftEplzI1+pmPskTHDNYzaTTkPHwh+19ottM2eGBuNQBHPZd4GCnMRSOGzxFAPr+KjxFdY3m9Nj9L8zmjv47QNTnYBwfUHw56IFGYkAeKMj8hxNiBKPeWNxnw/oGqIftFnd9J2YyUE8mLaBBEDw4XcUX1dxjYAG13Xz+IFOiqXiRYLVVnJN/eqPNuiUvHaW/ZGXu/Y73cH/Zgv0q+un8FXnU71HqqJ+XjIkohRv01YIMU3YFqglHUDHzsAV9h6KqZ2jOoeW+kPIupLS73yGkxZSFpp0qzEsOoG5fUEoUpY=
