{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
  {% if messages.success %}
  <div role="alert" class="alert alert-success">
    {% for success in messages.success %}
    <div>{{ success.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.error %}
  <div role="alert" class="alert alert-danger">
    {% for error in messages.error %}
    <div>{{ error.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.info %}
  <div role="alert" class="alert alert-info">
    {% for info in messages.info %}
    <div>{{ info.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel">
        <div class="panel-body">
          <div style="text-align:center">
            <h1>1-884-USA-4055</h1>
            <h3>One phone number for all of Congress</h3>
          </div>
          <p>
            Is there change that you care about?  Call this toll-free number and you'll be automatically connected with your senators and representatives.
          </p>
          <div style="text-align:center">
            <h3>Tips</h3>
          </div>
          <p>
            Make sure to mention that you're a constitutent and give your address.  It'll count for more.
          </p>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
